body {
  font-family: sans-serif;
}

.container {
  margin: 1vw 15vw;
  text-align: center;
  background-image: url("../assets/background.png");
  background-repeat: repeat;
  background-size: 100%;
}

.header {
  /* Background image from https://www.vecteezy.com/photo/2055392-top-view-of-fresh-italian-ingredients-on-light-wood*/
  background-image: url("../assets/header_background.jpg");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 1vw;
  height: 12vw;
  display: flex;
  justify-content: center;
}

.header h1 {
  align-self: flex-end;
  font-size: 2.5rem;
}

.menuItems {
  padding: 20px 3vw;
}
section {
  margin: 10px 0 50px;
}
section h2 {
  text-decoration: underline;
  margin-top: 10px;
}
section::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  align-self: center;
}
.sectionItems {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-column-gap: 3%;
  grid-auto-flow: row;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
.item {
  padding: 10px 20px 0px;
  text-align: center;
  align-self: center;
  height: 100%;
  border-radius: 30px;
  border: forestgreen solid 2px;
  background-color: rgb(234, 248, 230, 0.5);
}

.item:hover {
  background: linear-gradient(
    to right,
    rgba(0, 128, 0, 0.5) 10%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 0, 0, 0.5) 10%
  );
}
.item h3 {
  margin-top: 5px;
}
.item p {
  text-align: left;
  padding: 0 20px;
  font-style: italic;
}
.spicy {
  font-style: italic;
}
.spicy::after {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}
